.main{
    background-color: aquamarine;
    width: 65%;
    margin: 50px auto;
}
.header{
    width: 100%;
    background-color: rgb(158, 204, 247);
    float: left;
    text-transform: uppercase;
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
}
.outer{
    width: 65%;
}
.form{
    width: 75%;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid black;
}
.search{
    width: 75%;
    height: 40px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-bottom: 1px solid transparent;
    padding: 0 10px;
    font-size: larger;
}
.content{
    width: 75%;
    margin: auto;
    padding: 10px;
}