.main{
    background-color: rgb(117, 105, 105);
    width: 60%;
    margin: 50px auto;
    position: relative;
}
.header{
    width: 97.5%;
    background-color: rgb(158, 204, 247);
    float: left;
    height: 30px;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 30px;
}
.outer{
    width: 65%;
}
.form{
    width: 75%;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid black;
}
.search{
    width: 75%;
    height: 40px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}
.outer_info{
    border: 1px solid black;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: larger;
}
.content{
    width: 75%;
    margin: auto;
    padding: 10px;
}
.button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
}
a{
    text-decoration: none;
}
.remove{
    background-color: rgb(255, 119, 119);
    cursor: pointer;
}
.edit{
    background-color: rgb(119, 119, 255);
    cursor: pointer;
}
.contact_details{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid black;
}
::-webkit-input-placeholder {
text-align:right;
}

:-moz-placeholder {
text-align:right;
}

#add_contact{
    text-align: right;
}